@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Data.Utils
@using Data.Model.APIWeb
<div class="col-md-12 mt-5">
    <div class="breadcrumb-holder">
        <div class="row mb-3 mt-3">
            <div class="col-md-6 col-sm-6 col-12 text-dark px-0">
                <h4><i class="fa fa-fw fa-newspaper-o"></i> Thêm bài viết</h4>
            </div>
        </div>
    </div>
</div>

<div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-12 bg-white radius-form box-shadow-form mb-5">
    <!-- START col-md-8 panel form create -->
    <div class="row my-3">
        <div class="col-md-5 col-sm-6 col-12 mt-3">
            <label>Loại tin tức</label>
            <select class="form-control" id="cbbType">
                @{
                    foreach (var c in ViewBag.listcaterogy)
                    {
                        <option value="@c.type">@c.value</option>
                    }
                }
            </select>
        </div>
        <div class="col-md-5 offset-md-1 col-sm-12 mt-3">
            <label>Ngày Giờ</label>
            <div class="row mt-2" style="margin-left: .0rem !important">
                <h5 id="MyClockDisplay" class="clock" onload="showTime()"></h5>
                <h5 class="ml-3" id="hvn"></h5>
            </div>
        </div>
    </div>
    
    <div class="col-md-12 col-sm-12  mt-1">
        <label class="container">
            Gửi thông báo cho khách hàng
            <input type="checkbox" id="sendNotify">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="row my-3">
        <div class="col-md-12 col-sm-12  col-12">
            <label>Tiêu đề</label>
            <input type="text" class="form-control" id="txtTitle" placeholder="Nhập tiêu đề bài viết" />
        </div>
    </div>
    @*<div class="row pb-3">
            <div class="col-md-12 col-sm-12 col-12">
                <label>Mô tả</label>
                <textarea class="form-control" rows="3" id="txtDescription" placeholder="Nhập nội dung mô tả"></textarea>
            </div>
        </div>*@

    <div class="row pb-3">
        <div class="col-md-3 col-sm-12 col-12">
            <a href="" class="text-bold mb-3" style="width:100%;height:100%; color: #5A5A5A;" id="add_logo_place">
                Hình ảnh
                <div class="news">
                    <div class="article" id="AddLogoPlace">
                        @*<i class="fa fa-upload" id="AddImgLogoPlace" aria-hidden="true" style="font-size: 100px"></i>*@

                        <img id="AddImgLogoPlace" src="/Uploads/files/download.png" class="col-md-12 px-0 contentImg" alt="your image" />
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row pb-3">
        <div class="col-md-12 col-sm-12 col-12">
            <label>Nội dung</label>
            <textarea name="editor" class="form-control mb-3" id="editor"></textarea>
        </div>
    </div>


    @*<div class="col-md-12 border-form mt-2"></div>*@

    <div class="row pb-2 pt-2 text-right">
        <div class="col-md-12 col-sm-12 col-12 txtBeauty">
            @*<a class="btn btn-outline-secondary" href="/News/Index"><i class="fa fa-fw fa-arrow-left"></i> Trở về</a>*@
            <button class="btn btn-info" onclick="createNews(@SystemParam.STATUS_NEWS_DRAFT);"><i class="fa fa-fw fa-file-word-o"></i> Lưu nháp</button>
            <button class="btn btn-success" onclick="createNews(@SystemParam.STATUS_NEWS_ACTIVE);"><i class="fa fa-fw fa-check"></i> Đăng bài</button>
        </div>
    </div>
</div> <!-- END col-md-8 panel form create -->
<div class="modal" id="modalLoadSendNotify" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content text-center py-3">
            <div class="modal-body text-center">
                <i class="fa fa-spinner text-success fa-spin" style="font-size: 40px;"></i>
                <div class="col-md-12 text-center mt-2">
                    <span>Vui lòng đợi. Hệ thống đang xử lý việc gửi thông báo tới khách hàng.</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        //CKEDITOR.replace('editor', {
        //    height: 300
        //});

        CKEDITOR.replace('editor', {
            height: 300,
            disableObjectResizing: true
        });

        CKEDITOR.on('dialogDefinition', function (ev) {
            var dialogName = ev.data.name;
            var dialogDefinition = ev.data.definition;
            //var editorO = ev.data.definition.dialog.getParentEditor();

            if (dialogName == 'image' || dialogName == 'image2') {
                var infoTab = dialogDefinition.getContents('info');

                if (dialogName == 'image') {
                    infoTab.remove('txtHeight');
                    infoTab.remove('txtWidth');
                    infoTab.remove('ratioLock');
                }
                else {
                    infoTab.remove('height');
                    infoTab.remove('width');
                    infoTab.remove('lock');
                }
            }
        });

    });

    function getItemNews(category) {
        if (category == 4) {
            $('#cbbItemNews').removeAttr('disabled');
            $('#labelItem').css('color', '#5A5A5A');
        }
        else {
            $('#cbbItemNews').attr("disabled", "disabled");
            $('#labelItem').css('color', 'hsl(0, 0%, 85%)');
        }

    }

    $("#add_logo_place").off('click').on('click', function (e) {
        e.preventDefault();
        var fider = new CKFinder();

        fider.selectActionFunction = function (fileUrl) {
            $("#AddImgLogoPlace ").remove();
            $("#AddLogoPlace").append('<img id="AddImgLogoPlace" src="' + fileUrl + '" class="col-md-12 px-0 border-dekko contentImg" alt="your image" />');
            var url = window.location.origin + fileUrl;
            $('#txtAddLogoPlace').val(url);
        }
        fider.popup();
    });

</script>
