
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Data.DB

<div class="col-md-12 mt-5">
    <div class="breadcrumb-holder">
        <div class="row mb-3 mt-3">
            <div class="col-md-10 col-sm-10 col-9 text-dark px-0 mt-3">
                <h4><i class="fa fa-university ic-menu"></i> Trung tâm bảo hành</h4>
            </div>
            <div class="col-md-2 col-sm-2 col-3 text-right px-0 mt-3">
                <button class="btn btn-dekko width-btn-create-batch showModalCreate" data-toggle="modal" data-target="#createShop" onclick="resetInputShop();"><i class="fa fa-fw fa-plus"></i> Thêm trung tâm</button>
            </div>
        </div>
    </div>
</div>

<div class="row mb-2">
    <div class="col-md-4 offset-md-0 col-sm-5">
        <input type="text" class="form-control" placeholder="Nhập tên hoặc sđt cửa hàng" id="NameShop" />
    </div>
    <div class="col-md-3 col-sm-6 col-6">
        <select onchange="loadListDistrictShop(this.value)" class="form-control" id="ProvinceID" name="ProvinceID">
            @{
                <option>Tất cả Tỉnh/Thành phố</option>
                foreach (var p in (List<Province>)ViewBag.lstProvince)
                {
                    <option value="@p.Code">@p.Name</option>
                }
            }
        </select>
    </div>
    <div class="col-md-3 offset-md-0 col-sm-6 cursor-pointer" id="ListDistrictShop">
        @{ Html.RenderAction("LoadDistrictShop", "Shop", new { ProvinceID = 1 });}
    </div>
    <div class="col-md-2 offset-md-0 col-sm-2 offset-sm-5 col-4 offset-4">
        <button class="btn btn-primary" onclick="SearchShop();"><i class="fa fa-search"></i> Tìm kiếm</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12" id="TableShop">
        @{ Html.RenderAction("Search", "Shop", new { Page = 1 });}
    </div>
</div>


<!-- start modal create Shop -->
<div class="modal fade" id="createShop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-fw fa-shopping-basket"></i> Thêm trung tâm bảo hành</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form_create_shops" name="form_create_shop">
                    <div class="row pb-3">
                        <div class="col-md-12 col-sm-12 col-12">
                            <input type="text" class="form-control" id="Name" name="Name" placeholder="Tên trung tâm">
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-md-6 col-sm-6 col-6">
                            <input type="text" class="form-control" id="ContactName" name="ContactName" placeholder="Người liên hệ">
                        </div>
                        <div class="col-md-6 col-sm-6 col-6">
                            <input type="text" class="form-control" id="ContactPhone" name="ContactPhone" placeholder="Số điện thoại">
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-md-6 col-sm-6 col-6">
                            <select class="form-control" id="ProvinceID" name="ProvinceID" onchange="loadListDistrictShopCreate(this.value)">
                                <option value="0">Chọn Tỉnh/Thành phố</option>
                                @{
                                    foreach (var p in ViewBag.lstProvince)
                                    {
                                        <option value="@p.Code">@p.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-6 col-6" id="ListDistrictShopCreate">
                            @{
                                Html.RenderAction("LoadDistrictShopCreate", "Shop", new { ProvinceID = 1 });
                            }
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-md-6 col-sm-6 col-6">
                            <input type="text" class="form-control" id="Address" name="Address" placeholder="Địa chỉ cụ thể">
                        </div>
                        <div class="col-md-6 col-sm-6 col-6">
                            <div class="col-md-12 pl-0 pr-0">
                                <input type="text" class="form-control" id="place" name="PlusCode" placeholder="Đường dẫn Url trên bản đồ" style="padding-right:20px;">
                                <i class="fa fa-check fa-1x cursor-pointer" data-toggle="tooltip" data-placement="top" title="Xác nhận" onclick="LoadPlaceCreateShop();" style="position:absolute;left:202px;top:13px;"></i>
                            </div>
                        </div>

                    </div>
                    <div class="row pb-3">
                        <div class="col-md-6 col-sm-6 col-6">
                            <input class="form-control" type="text" name="Lati" id="Lati" readonly>
                        </div>
                        <div class="col-md-6 col-sm-6 col-6">
                            <input class="form-control" type="text" name="Long" id="Long" readonly>
                        </div>

                    </div>
                    <input type="hidden" id="txturlImage" name="Url" />
                    <div class="row pb-3">
                        <div class="col-md-12 col-sm-12 col-12">
                            <p class="mb-0 color-require"><label class="text-dark">Ảnh</label> *</p>
                            <div class="col-md-12 col-sm-12 col-12">
                                <a href="" class="text-bold mb-3" style="width:100%;height:100%; color: #5A5A5A;" id="addImg">
                                    <img id="tagImg" src="https://cdn4.iconfinder.com/data/icons/social-communication/142/add_photo-512.png" class="col-ml-2 col-md-2 px-0" alt="Chọn" />
                                </a>
                                <div class="imgShop">
                                    <div class="article" id="divAddImg">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary px-3" onclick="saveCreateShop()">Lưu</button>
            </div>
        </div>
    </div>
</div>
<!-- end modal create Shop -->


<div class="row" id="modalEditShop">

</div>

<script type="text/javascript">
    var count = 0;
    $("#addImg").off('click').on('click', function (e) {
        e.preventDefault();
        count++;
        var fider = new CKFinder();
        fider.selectActionFunction = function (fileUrl) {
            $("#divAddImg").append('<div id="img_' + count + '" class="Imgs" style ="box-sizing:border-box;display:inline-block;margin-top:10px;"><img class="imgCreateShop cursor-pointer" width="180" height="120" src="' + fileUrl + '" onclick="ChangeImg($(this));" /><i onclick="DeleteImg($(this));" src="' + fileUrl + '" class="fa fa-2x fa-remove " data="img_' + count + '" title="Xóa"  style="position:relative;top:-42px;left:-23px;color: #ff0000;"></i></div>');
            var listUrl = $("#txturlImage").val();
            if (listUrl == "") {
                listUrl = fileUrl;
                $("#txturlImage").val(listUrl);
            }
            else {
                var url = listUrl + "," + fileUrl;
                $("#txturlImage").val(url);
            }
        }
        fider.popup();
    });
</script>

<script type="text/javascript">
    function ChangeImg($url) {
        var fider = new CKFinder();
        fider.selectActionFunction = function (fileUrl) {
            var url_old = $url.attr('src');
            $url.attr('src', fileUrl);
            if (fileUrl != url_old) {
                var str = $('#txturlImage').val().replace(url_old, fileUrl);
                $('#txturlImage').val(str);
            }
        }
        fider.popup();
    }
</script>

<script type="text/javascript">
    function DeleteImg(obj) {
        var temp = obj.attr('data');
        var url = obj.attr('src');
        $('#' + temp + '').remove();
        var str = $('#txturlImage').val();
        $('#txturlImage').val(str.replace(url, ""));
    }
</script>